#loginpage, #container {
    filter: invert(100%);
}
header,aside,footer {
    border-color: #ccc;   
}
.sidebarbutton {
    border-color: #aaa;
}
.infogreen, .infored {
  filter: invert(100%);
}
img {
  filter: invert(100%);
}