#loginpage {
    background-color: #ddd;
    width: 100%;
    height: 100%;
    position: fixed;
}
#loginbox {
    width: 300px;
    height: 150px;
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 4px rgba(20,20,20,0.3);
}
#logintitle, #loginsubtitle, #loginpassword, #loginsubmit, #loginname {
    margin: 0;
    border: 0;
    padding: 0;
}
#logintitle {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 1.5;
}
#loginsubtitle {
    margin-top: 5px;
}
#loginpassword {
    margin-top: 20px;
    padding: 2px;
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 95px;
    margin-left: 5px;
}
#loginname {
    margin-left: 0px;
    padding: 2px;
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 95px;
    margin-right: 5px;
}
#loginsubmit {
    position: absolute;
    bottom: 0px;
    width: 250px;
    height: 25px;
    right: 25px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgba(20,20,20,0.2);
}