body {
    margin: 0;
    padding: 0;
}
#container {
    width: 100%;
    height: 100%;
    position: fixed;
}
section {
    width: 100%;
    height: 88%;
}
header {
    width: 100%;
    height: 8%;
    background-color: #e0e0e0;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #000;
}
header #headerleft {
    padding-left: 10px;
    text-align: left;
    float: left;
    display: inline;
    font-size: 1.5em;
    line-height: 8vh;
}
header #headerright {
    padding-right: 10px;
    text-align: right;
    display: inline;
    float: right;
    font-size: 1em;
    line-height: 8vh;
}
header p {
    height: 100%;
    line-height: 8vh;
    margin: 0;
    color: #111;
    white-space: nowrap;
}
header a {
    color: #111;
    text-decoration: none;
    line-height: 8vh;
}
aside {
    background-color: #e3e3e3;
    width: 15%;
    height: 100%;
    float: left;
    text-align: center;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #000;
}
aside p {
    margin-top: 10px;
    margin-bottom: 10px;
}
article {
    background-color: #eee;
    width: calc(85% - 1px);
    height: 100%;
    float: right;
    text-align: center;
    overflow-y: scroll;
}
article h1, p, form {
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    height: 4%;
    background-color: #e0e0e0;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #000;
}
footer #footerleft {
    padding-left: 10px;
    text-align: left;
    float: left;
    display: inline;
}
footer #footerright {
    padding-right: 10px;
    text-align: right;
    display: inline;
    float: right;
}
footer p {
    height: 100%;
    line-height: 4vh;
    margin: 0;
    color: rgba(0,0,0,0.4);
    white-space: nowrap;
}
.sidebarbutton {
    border: 2px solid #000;
    width: 90%;
    height: 2em;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    padding: 2px;
}
#usersthing a {
    text-decoration: none;
    color: #000099;
}
@keyframes infofadeout {
    0% {opacity: 1; height: 6%;}
    33% {opacity: 1; height: 6%;}
    100% {opacity: 0; height: 0%;}
}
#infobar {
  position: absolute;
  width: 60%;
  height: 6%;
  left: 20%;
  top: 15%;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  color: #FFF;
  line-height: 6vh;
  font-size: 2.5vw;
  animation-name: infofadeout;
  animation-duration: 6s;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
}
.infogreen {
  border-color: #579A57;
  background-color: #4A6959;
}
.infored {
  border-color: #F00;
  background-color: #700;
}
@media screen and (max-width: 1038px) {
  aside {
    width: 22%;
  }
  article {
    width: calc(78% - 1px);
  }
}
@media screen and (max-width: 768px) {
    aside {
        height: 8vh;
        width: 8vh;
        max-width: 8vh;
        max-height: 8vh;
        overflow: hidden;
        position: absolute;
        top: 10%;
        right: 5%;
        left: 80%;
        float: none;
        border-radius: 8vh;
        transition: all 0.5s;
        z-index: 999;
    }
    aside:hover {
        height: 70%;
        width: 100%;
        max-width: 100%;
        max-height: 70%;
        position: absolute;
        right: 0%;
        left: 0%;
        top: calc(8% + 1px);
        border-radius: 0px;
        transition: all 0.5s;
    }
    article {
        width: 100%;
        height: 100%;
        float: none;
    }
    aside {
        border-width: 0px 0px 1px 0px;
    }
    header #headerleft {
        display: none;
    }
    header #headerright {
        text-align: center;
        width: 100%;
        font-size: 3.5vw;
        padding: 0px;
        float: none; /* very important, do under no circumstances remove this unless you know EXACTLY what you are doing */
    }
    /*aside p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    article h1, p, form {
        margin-top: 0px;
        margin-bottom: 0px;
    } if this is still commented, you can safely delete it*/
    #bottomsidebar br {
        display: none;
    }
    .sidebarbutton {
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 565px) {
    #bottomsidebar br {
        display: block;
    }
}